a {
    color:#666;
    text-decoration: none;
}

html {
    height:100%;
}

body.group-accounts {
    background:#11275f url(../images/login_bg.jpg) 50% 50% no-repeat fixed;
    background-size: cover;
    width:100%;
    height:100%;
    color:#fff;
}

body.group-accounts #accounts-wrapper {
    width:100%;
    height:100%;
    display:table;
}

.group-accounts #login-wrapper,
.group-accounts #projects-wrapper {
    width:100%;
    height:100%;
    display:table-row;
}

.group-accounts #login-wrapper #login-box,
.group-accounts #projects-wrapper #projects-box {
    width:100%;
    height:100%;
    vertical-align: middle;
    display:table-cell;
}

.group-accounts #login-wrapper #login-box #login-header,
.group-accounts #login-wrapper #login-box .login-form,
.group-accounts #projects-wrapper #projects-box #projects-header {
    width: 420px;
    margin:0 auto;
    padding-top:15px;
}

.group-accounts #login-wrapper #login-box #login-header h1,
.group-accounts #projects-wrapper #projects-box #projects-header h1 {
    text-indent: -10000px;
    margin:0 auto 15px;
    width:200px;
    height:50px;
    background: url(../images/login_logo.png) 0 0 no-repeat;
}

.group-accounts #login-wrapper #login-box #login-header h2 {
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: normal;
    font-size:0.86em;
    margin-bottom:40px;
}

.group-accounts #projects-wrapper #projects-box #projects-header h2 {
    margin:40px 0 10px;
    font-size:0.86em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.group-accounts #login-wrapper #login-box .login-form {
    padding-bottom: 15px;
}

.group-accounts #login-wrapper #login-box #signup-form {
    display:none;
}

.group-accounts #login-wrapper #login-box .login-form .login-form-group {
    background:#fff;
    border-radius: 5px;
    margin-bottom: 10px;
    color:#666;
}

.group-accounts #login-wrapper #login-box .login-form .login-form-group p {
    height:49px;
    border-bottom:1px #ccc solid;
}

.group-accounts #login-wrapper #login-box .login-form .login-form-group p:last-child {
    border-bottom:none;
}

.group-accounts #login-wrapper #login-box .login-form .login-form-group p label {
    width:105px;
    padding-left:15px;
    float:left;
    height:49px;
    line-height:49px;
    font-size:1.29em;
}

.group-accounts #login-wrapper #login-box .login-form .login-form-group p input {
    margin:0;
    border:0;
    width:300px;
    padding:11px 0;
    height:27px;
    line-height:27px;
    font-size:1.29em;
    color:#444;
    background: transparent;
}

.group-accounts #login-wrapper #login-box .login-form .login-form-group p input:focus {
    outline: none;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group {
    height:50px;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group a,
.group-accounts #login-wrapper #login-box .login-form .login-btn-group input {
    width:205px;
    display: block;
    float: left;
    height:50px;
    border-radius:5px;
    text-align: center;
    color: #fff;
    border:none;
    margin:0;
    padding:0;
    background:#8e8e8e;
    font-size:1.29em;
    line-height:50px;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group a:hover {
    background:#999;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group a#login-btn-signup {
    margin-right:5px;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group a#login-btn-signup-cancel {
    width:100%;
    margin-top:5px;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group input#login-btn-login,
.group-accounts #login-wrapper #login-box .login-form .login-btn-group input#login-btn-signup-submit {
    margin-left: 5px;
    background:#be2d62;
    cursor:pointer;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group input#login-btn-signup-submit {
    margin:0;
    width:100%;
}

.group-accounts #login-wrapper #login-box .login-form .login-btn-group input#login-btn-login:hover,
.group-accounts #login-wrapper #login-box .login-form .login-btn-group input#login-btn-signup-submit:hover
{
    background:#d65383;
}

.group-accounts #login-wrapper #login-box .login-form .login-misc {
    padding-top:25px;
    text-align:center;
    font-size:0.86em;
}

.group-accounts #login-wrapper #login-box .login-form .login-misc a {
    color:#999;
    text-decoration: underline;
}

.group-accounts #login-wrapper #login-box .login-form .login-misc a:hover {
    color:#ccc;
}

.group-accounts #projects-wrapper #projects-box #projects-list {
    width:420px;
    margin:0 auto;
    border-radius:5px;
    background:#fff;
    overflow:hidden;
}

.group-accounts #projects-wrapper #projects-box #projects-list li {
    height:88px;
    border-bottom:1px #dadada solid;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a {
    display:block;
    height:88px;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a:hover {
    background:#f0f0f0;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-remove {
    background:#be2d62 url(../images/project_remove.png) 50% 50% no-repeat;
    float:right;
    width:17px;
    height:17px;
    margin-right:10px;
    margin-top:10px;
    border-radius:3px;
    text-indent: -10000px;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-remove:hover {
    background-color:#ce517f;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-screenshot {
    width:128px;
    margin-top:4px;
    margin-left:5px;
    height:80px;
    display:block;
    float:left;
    background-image:url(../images/switch_ss_sample.png);
    background-position:50% 50%;
    background-size:cover;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a strong {
    display:block;
    margin-left:150px;
    font-size:1.29em;
    line-height:24px;
    padding-top:24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter {
    display:block;
    margin-left:150px;
    font-size:0.86em;
    margin-top:2px;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter em {
    color:#888;
    font-style: normal;
    margin-right:4px;
    font-weight:bold;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter span {
    color:#fff;
    padding:1px 3px 0;
    letter-spacing: -1px;
    margin-right:2px;
    font-weight:bold;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter.bad {
    color:#be2d62;
}
.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter.not-good {
    color:#da7e34;
}
.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter.fine {
    color:#5db22a;
}

.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter.bad span {
    background:#be2d62;
}
.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter.not-good span {
    background:#da7e34;
}
.group-accounts #projects-wrapper #projects-box #projects-list li a span.projects-optimize-meter.fine span {
    background:#5db22a;
}

.group-accounts #projects-wrapper #projects-box #projects-list li.add {
    background:#f4f4f4;
}

.group-accounts #projects-wrapper #projects-box #projects-list li.add span.projects-add-icon {
    width:46px;
    height:46px;
    margin:20px 0 0 40px;
    border:1px #aaa solid;
    border-radius:24px;
    display:block;
    float:left;
    background:url(../images/optimize_assets.png) -175px -1px no-repeat;
}

.group-accounts #projects-wrapper #projects-box #projects-list li.add strong {
    padding:0;
    height:88px;
    line-height:88px;
    font-weight:normal;
}

.group-accounts #projects-wrapper #projects-box #projects-list li:last-child {
    border-bottom: none;
}

.group-accounts #projects-wrapper #projects-box #add-project {
    display:none;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-bg {
    position:fixed;
    background:rgba(17,39,95,0.75);
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box {
    position:absolute;
    z-index:101;
    left:50%;
    top:100px;
    width:480px;
    margin-left:-240px;
    background:#f0f0f0;
    border-radius:5px;
    color:#444;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-close {
    position:absolute;
    right:-14px;
    top:-14px;
    width:29px;
    height:29px;
    border-radius:30px;
    background:#be2d62 url(../images/modal_close.png) 50% 50% no-repeat;
    text-indent:-10000px;
    overflow: hidden;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-close:hover {
    background-color: #ce517f;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info {
    padding:20px 15px 10px;
    border-bottom:1px #dadada solid;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info h3 {
    color:#11275f;
    font-size:0.86em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:10px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info p {
    margin-bottom:5px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info label {
    float:left;
    font-size:0.86em;
    width:120px;
    line-height:25px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info p.title label {
    line-height:35px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info input {
    border:1px #dadada solid;
    border-radius: 3px;
    height:19px;
    line-height:19px;
    padding:2px 9px;
    width:310px;
    font-size:0.86em;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-info p.title input {
    font-size:1.18em;
    height:23px;
    line-height:23px;
    padding:5px 9px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages {
    padding:10px 15px 20px;
    background:#fff;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages h4 {
    font-size: 0.86em;
    color:#666;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom:10px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul {
    border-top:1px #dadada solid;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li {
    padding:5px 5px 0 5px;
    border-bottom:1px #dadada solid;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li:nth-child(even) {
    background:#f4f4f4;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li p {
    margin-bottom:5px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li input {
    border-radius:3px;
    border:1px #dadada solid;
    width:120px;
    padding:3px 4px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li .new-page-address-guide {
    display:inline-block;
    font-size:0.86em;
    color:#8e8e8e;
    margin-right:5px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li input.new-page-address {
    font-size:0.86em;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li .new-page-del {
    background:#be2d62 url(../images/project_remove.png) 50% 50% no-repeat;
    float:right;
    width:17px;
    height:17px;
    border-radius:3px;
    text-indent: -10000px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages ul li .new-page-del:hover {
    background-color:#ce517f;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages .add {
    text-align: center;
    margin-top:10px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages #add-new-page {
    display:inline-block;
    font-size:0.86em;
    line-height:16px;
    font-weight:bold;
    color:#666;
    border-radius:3px;
    border:1px #dadada solid;
    padding:6px 9px;
    background:#f0f0f0;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages #add-new-page:before {
    display:inline-block;
    width:16px;
    height:16px;
    content:'';
    background:url(../images/optimize_assets.png) -222px 0 no-repeat;
    margin-right:5px;
    vertical-align: top;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-pages #add-new-page:hover {
    background:#eaeaea;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-submit {
    border-top:1px #dadada solid;
    padding:10px 15px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-submit a {
    background:#11275f;
    border-radius:3px;
    display:block;
    height:40px;
    color:#fff;
    text-align: center;
    line-height: 40px;
}

.group-accounts #projects-wrapper #projects-box #add-project #add-project-box #add-project-submit a:hover {
    background:#2d437d;
}


#header-common {
    background:#11275f;
    color:#fff;
    height:50px;
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}

.page-simulate #header-common {
    height:106px;
}

#header-common .header-sprite {
    background-image:url(../images/header_assets.png);
}

#header-common #feona-logo {
    width:140px;
    float:left;
}

#header-common #feona-logo a {
    margin:0 20px;
    display:block;
    width:116px;
    height:50px;
    text-indent:-10000px;
    background:url(../images/header_logo.png) 0 0 no-repeat;
}

#header-common #feona-site-select {
    position:absolute;
    right:20px;
    top:8px;
}

#header-common #feona-site-select > a#open-select-site {
    color:#fff;
    text-decoration: none;
    display:block;
    height:35px;
    line-height:35px;
    padding:0 10px;
    border-radius:5px;
    float:left;
}

#header-common #feona-site-select > a#project-setting {
    display:block;
    height:35px;
    width:20px;
    float:left;
    padding:0 10px;
    text-indent: -10000px;
    overflow:hidden;
    border-radius: 5px;
    margin-left:10px;
}

#header-common #feona-site-select > a#project-setting .icon {
    margin:7px 0 8px;
    display:block;
    width:20px;
    height:20px;
    background: url(../images/header_assets.png) -110px 0 no-repeat;
}

#header-common #feona-site-select > a#project-setting:hover {
    background:rgba(255,255,255,0.2);
}

.page-setting #header-common #feona-site-select > a#project-setting {
    background-color:#fff;
}

.page-setting #header-common #feona-site-select > a#project-setting .icon {
    background-position:-110px -25px;
}

#header-common #feona-site-select > a#open-select-site .icon,
#header-common #feona-site-select #select-site-list .icon{
    width:16px;
    height:16px;
    margin:9px 5px 0 0;
    vertical-align:top;
    display:inline-block;
    background-color:#fff;
    background-image:url(../images/default_favicon.png);
    border-radius:3px;
}

#header-common #feona-site-select > a#open-select-site:after {
    margin:7px 0 0 7px;
    width:9px;
    height:20px;
    content:"";
    display:block;
    float:right;
    background:url(../images/header_assets.png) -90px 0 no-repeat;
}

#header-common #feona-site-select > a#open-select-site:hover {
    background:rgba(255,255,255,0.2);
}

#header-common #feona-site-select > a#open-select-site.opened {
    background:#fff;
    color:#11275f;
}

#header-common #feona-site-select > a#open-select-site.opened:after {
    background-position:-90px -25px;
}

#header-common #feona-site-select #select-site-list {
    position:absolute;
    line-height:1.3;
    border-radius:3px;
    background:#f7f7f7;
    box-shadow:0px 1px 3px rgba(0,0,0,0.3);
    width:200px;
    display:none;
    right:50px;
    top:35px;
    z-index:50;
}

#header-common #feona-site-select #select-site-list li a {
    display:block;
    text-align:left;
    padding:0 10px;
    height:35px;
    line-height:35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom:1px #ccc solid;
}

#header-common #feona-site-select #select-site-list li a:hover {
    background:#f0f0f0;
}

#header-common #feona-site-select #select-site-list li a.selected, #header-common #feona-site-select #select-site-list li a.selected:hover {
    background:#11275f;
    color:#fff;
}

#header-common #feona-site-select #select-site-list li:first-child a {
    border-radius:3px 3px 0 0;
}

#header-common #feona-site-select #select-site-list li:last-child a {
    background:#e0e0e0;
    border-bottom:none;
    border-radius:0 0 3px 3px;
}

#header-common #feona-site-select #select-site-list li.add .icon {
    background:url(../images/optimize_assets.png) -222px 0 no-repeat;
}

#header-common #feona-menu {
    margin:0 200px;
}

#header-common #feona-menu #feona-menu-top {
    margin:0 auto;
    height:50px;
    text-align:center;
}

#header-common #feona-menu #feona-menu-top > li {
    display: inline-block;
    margin:6px 5px;
}

#header-common #feona-menu #feona-menu-top > li > a {
    color:#fff;
    text-decoration: none;
    display:block;
    height:35px;
    line-height:35px;
    padding:0 10px;
}

#header-common #feona-menu #feona-menu-top > li > a:hover {
    background:rgba(255,255,255,0.2);
    border-radius:5px;
}

#header-common #feona-menu #feona-menu-top > li > a .icon {
    margin:7px 5px 0 0;
    vertical-align:top;
    display:inline-block;
    width:26px;
    height:20px;
}

.group-dashboard #header-common #feona-menu #feona-menu-top > li#to-dashboard > a,
.group-optimize #header-common #feona-menu #feona-menu-top > li#to-optimize > a,
.group-deploy #header-common #feona-menu #feona-menu-top > li#to-deploy > a{
    background:#fff;
    border-radius:5px;
    color:#11275f;
}

#header-common #feona-menu #feona-menu-top > li#to-dashboard > a .icon {
    background-position:0 0;
}

#header-common #feona-menu #feona-menu-top > li#to-optimize > a .icon {
    background-position:-30px 0;
}

#header-common #feona-menu #feona-menu-top > li#to-deploy > a .icon {
    background-position:-60px 0;
}

.group-dashboard #header-common #feona-menu #feona-menu-top > li#to-dashboard > a .icon {
    background-position:0 -25px;
}

.group-optimize #header-common #feona-menu #feona-menu-top > li#to-optimize > a .icon {
    background-position:-30px -25px;
}

.group-deploy #header-common #feona-menu #feona-menu-top > li#to-deploy > a .icon {
    background-position:-60px -25px;
}

#section-optimize, #section-analyze, #section-dashboard, #section-deploy, #section-setting {
    padding-top:50px;
}

.page-analyzing {
    background:#f0f0f0;
}

#analyzing {
    position:absolute;
    top:50%;
    margin-top:-50px;
    text-align:center;
    width:100%;
}

#analyzing #spinner {
    width:40px;
    height:40px;
    display:block;
    margin:0 auto 15px;
    background:url(../images/analyze_magnifier.png) 0 0;
}

#analyzing h1 {
    font-size:1.29em;
    font-weight:300;
    margin:0 auto 15px;
    color:#11275f;
}

#analyzing p {
    color:#666;
    font-size:0.86em;
}

#body {
    display:none;
}


#section-optimize #optimize-header {
    background:#eaeaea;
    border-top:1px #aaa solid;
    border-bottom:1px #aaa solid;
    height:43px;
    position:fixed;
    width:100%;
    top:50px;
    z-index:99;
}

#section-optimize #optimize-header .optimize-header-left {
    float:left;
    padding:9px 15px 9px 30px;
    position:relative;
}

#section-optimize #optimize-header .optimize-header-left .btn, #section-optimize #optimize-header .optimize-header-right .btn {
    display:block;
    float:left;
    height:25px;
    line-height:25px;
    overflow:hidden;
    margin-right:1px;
    background:#fff;
    box-shadow:0px 1px 1px #ccc;
    border-radius:5px;
    padding:0 10px;
}

#section-optimize #optimize-header .optimize-header-left .btn:hover {
    background:#e0e0e0;
}

#section-optimize #optimize-header .optimize-header-left .btn .icon, #section-optimize #optimize-header .optimize-header-right .btn .icon {
    width: 25px;
    height: 25px;
    display: block;
    vertical-align:top;
    float:left;
    background:url(../images/optimize_assets.png) no-repeat;
}

#section-optimize #optimize-header .optimize-header-left .btn-undo, #section-optimize #optimize-header .optimize-header-left .btn-redo {
    text-indent: -10000px;
    width:25px;
}

#section-optimize #optimize-header .optimize-header-left .btn-history {
    margin-left:5px;
}

#section-optimize #optimize-header .optimize-header-left .btn-undo .icon {
    background-position: 0 0;
}

#section-optimize #optimize-header .optimize-header-left .btn-undo.disabled .icon {
    background-position: 0 -25px;
}

#section-optimize #optimize-header .optimize-header-left .btn-redo .icon {
    background-position: -25px 0;
}

#section-optimize #optimize-header .optimize-header-left .btn-redo.disabled .icon {
    background-position: -25px -25px;
}

#section-optimize #optimize-header .optimize-header-left .btn-history .icon {
    width:16px;
    margin-right:6px;
    background-position: -55px 0;
}

#section-optimize #optimize-header .optimize-header-left .btn-history:after {
    width:9px;
    height:25px;
    margin-left:5px;
    display:block;
    float:right;
    content:'';
    background:url(../images/optimize_assets.png) -75px 0 no-repeat;
}

#section-optimize #optimize-header .optimize-header-left .btn-history.opened {
    background:#60646a;
    color:#fff;
}

#section-optimize #optimize-header .optimize-header-left .btn-history.opened .icon {
    background-position:-55px -25px;
}

#section-optimize #optimize-header .optimize-header-left .btn-history.opened:after {
    background-position:-75px -25px;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history {
    display:none;
    width:318px;
    height:298px;
    left:126px;
    top:39px;
    position:absolute;
    border:1px #999 solid;
    border-radius: 5px;
    z-index:50;
    background:#fff;
    box-shadow:0px 1px 1px rgba(0,0,0,0.2);
}

#section-optimize #optimize-header .optimize-header-left #optimize-history:before {
    border-bottom:6px #999 solid;
    border-left: 6px transparent solid;
    border-right: 6px transparent solid;
    width:0;
    height:0;
    top:-6px;
    left:43px;
    position: absolute;
    content: '';
}

#section-optimize #optimize-header .optimize-header-left #optimize-history:after {
    border-bottom:5px #fff solid;
    border-left: 5px transparent solid;
    border-right: 5px transparent solid;
    width:0;
    height:0;
    top:-5px;
    left:44px;
    position: absolute;
    content: '';
}

#section-optimize #optimize-header .optimize-header-left #optimize-history ul {
    width:318px;
    height:298px;
    overflow-y:scroll;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li {
    height:35px;
    position: relative;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li:nth-child(even) {
    background:#f4f4f4;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li:hover {
    background:#d0e5ef;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li:hover:before {
    width:16px;
    height:35px;
    right:12px;
    position:absolute;
    content:'';
    background:url(../images/optimize_assets.png) -110px 0 no-repeat;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li.selected {
    background:#3dace0;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li.selected:before {
    width:0;
    height:0;
    border-left:5px #fff solid;
    border-top:5px transparent solid;
    border-bottom:5px transparent solid;
    margin-top:13px;
    background:none;
    right:auto;
    left:0;
    content:'';
    position:absolute;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li a {
    display:block;
    height:35px;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li a strong {
    margin-left:12px;
    width:170px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height:35px;
    float:left;
    color:#444;
    font-weight:400;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li a em {
    float:left;
    color:#8e8e8e;
    width:110px;
    font-style: normal;
    font-size:0.79em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:35px;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history li.selected a strong, #section-optimize #optimize-header .optimize-header-left #optimize-history li.selected a em {
    color:#fff;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history-detail {
    display:none;
    position:absolute;
    top:39px;
    left:445px;
    width:259px;
    height:278px;
    padding:10px;
    border:1px #999 solid;
    border-radius:0px 5px 5px 0px;
    z-index:45;
    background:#fff;
    box-shadow:0px 1px 1px rgba(0,0,0,0.2);
}

#section-optimize #optimize-header .optimize-header-left #optimize-history-detail .status {
    color:#666;
    font-size:0.86em;
    margin-bottom:5px;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history-detail .file-list li {
    height:30px;
    padding:5px;
    line-height:30px;
    font-size:0.86em;
    color:#666;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history-detail .file-list li:nth-child(odd) {
    background:#f4f4f4;
}

#section-optimize #optimize-header .optimize-header-left #optimize-history-detail .file-list li .icon {
    float:left;
    width:30px;
    height:30px;
    margin-right:8px;
    border-radius:15px;
    background:#cccccc;
}



#section-optimize #optimize-header .optimize-header-left .bar {
    width:1px;
    display:block;
    float:left;
    height:25px;
}

#section-optimize #optimize-header .optimize-header-right {
    float:right;
    padding:9px 30px;
}

#section-optimize #optimize-header .optimize-header-right .btn-simulate {
    background:#5ea40c;
    color:#fff;
}

#section-optimize #optimize-header .optimize-header-right .btn-simulate:hover {
    background:#72b91e;
}

#section-optimize #optimize-header .optimize-header-right .btn-simulate .icon {
    background-position:-92px 0;
    width:15px;
    margin-right:4px;
}

#section-optimize #optimize-body {
    position:relative;
    background:url(../images/optimize_bg.png) 0 0 repeat-y;
    padding-top:45px;
}

#section-optimize #optimize-body nav {
    height:100%;
    float:left;
    width:319px;
}

#section-optimize #optimize-body #optimize-nav {
    width:320px;
    margin:15px 0;
    float:left;
}

#section-optimize #optimize-body #optimize-nav li a {
    height:64px;
    display:block;
    padding:0 30px;
    color:#444;
}

#section-optimize #optimize-body #optimize-nav li a:hover {
    background:#c0cad7;
}

.page-css-sprite #section-optimize #optimize-body #optimize-nav li.css-sprite a,
.page-merge-js #section-optimize #optimize-body #optimize-nav li.merge-js a,
.page-merge-css #section-optimize #optimize-body #optimize-nav li.merge-css a,
.page-remove-404 #section-optimize #optimize-body #optimize-nav li.remove-404 a,
.page-move-js-css #section-optimize #optimize-body #optimize-nav li.move-js-css a,
.page-resample #section-optimize #optimize-body #optimize-nav li.resample a,
.page-minify-js-css #section-optimize #optimize-body #optimize-nav li.minify-js-css a {
    background:#4a5c76;
    color:#fff;
}

#section-optimize #optimize-body #optimize-nav li a.selected span {
    color:#fff;
}

#section-optimize #optimize-body #optimize-nav li a strong {
    padding-top:10px;
    display:block;
    font-size:1.29em;
    font-weight:300;
}

#section-optimize #optimize-body #optimize-nav li a span {
    font-size:0.86em;
    text-transform: uppercase;
    margin-top:5px;
    font-weight:bold;
    color:#8e8e8e;
}

#section-optimize #optimize-body #optimize-nav li a span em {
    font-style: normal;
}


#section-optimize #optimize-body #optimize-section {
    float:right;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice,
#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice {
    background:#3375ca;
    display:none;
    padding:7px 30px;
    color:#fff;
    height:26px;
    line-height: 26px;
    font-size: 0.86em;
    position:fixed;
    width:100%;
    z-index:95;
    top:95px;
}

#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice {
    top:50px;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice a,
#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice a {
    float:right;
    display:block;
    border:1px #fff solid;
    border-radius:3px;
    line-height:24px;
    height:24px;
    padding:0 14px;
    margin-left:10px;
    color:#fff;
    font-weight:700;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice a.apply-selection,
#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice a.apply-selection {
    background:#fff;
    color:#3375ca;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice a .icon,
#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice a .icon {
    float:left;
    display:block;
    height:24px;
    background:url(../images/optimize_assets.png) no-repeat;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice a.revert-selection .icon,
#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice a.revert-selection .icon {
    width:17px;
    background-position:-132px 0;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice a.apply-selection .icon {
    width:21px;
    background-position:-154px -24px;
}

#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice a.apply-selection .icon {
    width:21px;
    background-position:-242px -24px;
}

#section-optimize #optimize-body #optimize-section #optimize-file-selection-notice strong,
#section-deploy #deploy-body #deploy-files #optimize-file-selection-notice strong {
    font-weight:400;
}

#section-optimize #optimize-body #optimize-section #optimize-add-page {
    position:absolute;
    right:0;
    font-size:0.86em;
    z-index:20;
}

#section-optimize #optimize-body #optimize-section #optimize-btn-add-page {
    display:block;
    border-radius:0 0 0 3px;
    padding:5px;
    height:16px;
    background:#dadada;
}

#section-optimize #optimize-body #optimize-section #optimize-btn-add-page:hover {
    background:#ccc;
}

#section-optimize #optimize-body #optimize-section #optimize-add-page .add-icon {
    width:16px;
    height:16px;
    display:block;
    float:left;
    margin-right:3px;
    background:url(../images/optimize_assets.png) -222px -0px no-repeat;
}

#section-optimize #optimize-body #optimize-section #optimize-add-page strong {
    color:#666;
    font-weight:normal;
}

.page-selector-list-wrapper {
    background:#f4f4f4;
    height:105px;
    overflow:hidden;
    border-bottom: 1px #dadada solid;
}

.page-selector-list-wrapper .mCSB_scrollTools .mCSB_draggerContainer {
    left:5px;
    right:5px;
}

.page-selector-list {
    padding:9px 21px 9px 21px;
    height:87px;
}

.page-selector-list .page-selector-item {
    margin-right:15px;
    float:left;
    width:65px;
    border-radius:3px;
    height:77px;
    position: relative;
    cursor:pointer;
    text-align: center;
    font-size:0.86em;
}

.page-selector-list .page-selector-item:hover {
    background:#bfc6ce;
}

.page-selector-list .page-selector-item.selected {
    background:#848a94;
    box-shadow:inset 0px 1px 2px rgba(0,0,0,0.3);
    color:#fff;
}

.page-selector-list .page-selector-item .file-icon {
    display:block;
    width:48px;
    height:48px;
    border-radius:24px;
    margin:8px 9px 3px;
    background:#ccc;
}

.page-selector-list .page-selector-item strong {
    font-weight:400;
}

.page-selector-list .page-selector-item > strong {
    display:block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.page-selector-list .page-selector-item .file-tooltip {
     display: none;
}

.page-selector-list .page-selector-item:hover .file-tooltip {
    display:block;
    position:absolute;
    top:58px;
    text-align:center;
    padding:1px 0;
    background:#666;
    color:#fff;
    border-radius:3px;
    box-shadow:0px 1px 5px rgba(0,0,0,0.33);
    left:50%;
    z-index:10;
}

.page-selector-list .page-selector-item .file-tooltip strong {
    display:block;
    padding:0 5px;
}

.page-selector-list .page-selector-item .file-tooltip span {
    display:block;
    padding:0 5px;
}

#section-optimize #optimize-body .optimize-file-browser {
    padding: 20px 30px;
}

#section-optimize #optimize-body .optimize-file-browser h1 {
    font-size:1.14em;
    color: #999;
    font-weight: 400;
}

.file-browser-table {
    width: 100%;
}

.file-browser-table .row {
    border-bottom:1px #dadada solid;
}

.file-browser-table .cell {
    float:left;
}

.file-browser-table .row-header {
    height:29px;
}

.file-browser-table .row-header .cell {
    border-bottom-color:#aaa;
    color:#999;
    text-transform: uppercase;
    font-weight:600;
    height:29px;
    line-height:29px;
    font-size:0.86em;
}

.file-browser-table .row-body {
    min-height:39px;
    cursor:pointer;
}

.file-browser-table .row-body:hover {
    background:#f0f0f0;
}

.file-browser-table .row-body.selected {
    background:#b6d1f4;
}

.file-browser-table .row-body.table-folder .before {
    float:left;
    display:block;
    width:19px;
    height:39px;
    background:url(../images/browser_assets.png) 2px 0 no-repeat;
}

.file-browser-table .row-body.table-folder .before:hover {
    background-color:#e0e0e0;
}

.file-browser-table .row-body.table-folder.opened .before {
    background-position:2px -39px;
}

.file-browser-table .row-body.table-folder > .child-table {
    display:none;
}

.file-browser-table .row-body.table-folder.opened > .child-table {
    display:block;
}

.file-browser-table .row-body .cell {
    height:39px;
    line-height:39px;
}

.file-browser-table .row-body .cell.cell-name {
    padding-left:19px;
}

.file-browser-table .row-body.table-folder > .cell.cell-name {
    padding-left:0;
}

.file-browser-table .row-body .cell.cell-name .icon {
    float:left;
    width:39px;
    height:39px;
    margin-right:5px;
    background:url(../images/browser_assets.png) no-repeat;
}

.file-browser-table .row-body .cell.cell-name .icon-folder {
    background-position:0 -78px;
}

.file-browser-table .row-body .cell.cell-name .icon-html {
    background-position:0 -117px;
}

.file-browser-table .row-body .cell.cell-name .icon-css {
    background-position:0 -195px;
}

.file-browser-table .row-body .cell.cell-name .icon-js {
    background-position:0 -156px;
}

.file-browser-table .cell-misc {
    width:160px;
    float:right;
    color:#888;
}

.file-browser-table .cell-misc .sub-cell {
    float:left;
}

.file-browser-table .cell-misc .sub-cell-type {
    width:160px;
}

.file-browser-table .child-table {
    clear:both;
    margin-bottom:-1px;
    padding-left:24px;
    background:#fff;
    border-bottom:1px #dadada solid;
}

.file-browser-table .child-table li:first-child {
    border-top:1px #dadada solid;
}

.file-browser-table .child-table li:last-child {
    border-bottom:none;
}


#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper {
    background:#fff;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper:nth-child(6n) {
    background:#f0f0f0;
}

#section-optimize #optimize-body .optimize-image-browser h3 {
    font-size:1.18em;
    color:#999;
    font-weight:400;
    position:absolute;
    margin:30px 0 0 30px;
    z-index: 5;
}

#section-optimize #optimize-body .optimize-image-browser a.optimize-image-folder-select {
    position:absolute;
    margin-top:30px;
    right:30px;
    font-size:0.86em;
    border:1px #ccc solid;
    border-radius:3px;
    padding:3px 9px;
    cursor:pointer;
    z-index: 5;
}

#section-optimize #optimize-body .optimize-image-browser a.optimize-image-folder-select:hover {
    background:#ddd;
}

#section-optimize #optimize-body .optimize-image-browser a.optimize-image-folder-select.selected {
    background:#b6d1f4;
    border-color:#b6d1f4;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom:0;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .mCSB_scrollTools .mCSB_draggerContainer {
    left:5px;
    right:5px;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list {
    padding:65px 5px 20px 25px;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li {
    float:left;
    width:110px;
    padding-right:20px;
    text-align: center;
    cursor:pointer;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li img {
    display:inline-block;
    margin:5px 5px 7px;
    max-width:100px;
    max-height:100px;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li strong {
    border-radius:10px;
    font-weight:400;
    font-size:0.86em;
    line-height:16px;
    padding:2px 5px;
    display:inline-block;
    max-width:100px;
    word-wrap: break-word;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li:hover img {
    margin:0 0 2px;
    border:5px #ccc solid;
    border-radius:5px;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li:hover strong {
    background:#ccc;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li.selected img {
    margin:0 0 2px;
    border:5px #b6d1f4 solid;
    border-radius:5px;
}

#section-optimize #optimize-body .optimize-image-browser .optimize-image-wrapper .optimize-image-list ul li.selected strong {
    background:#b6d1f4;
}


.optimize-code-view .optimize-code-wrapper {
    padding:30px;
    
}

.optimize-code-view .optimize-code-wrapper .optimize-code-scroll {
    width:100%;
    overflow-x:scroll;
}

.optimize-code-view .optimize-code-wrapper .code-table {
    font-size:0.86em;
    font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Consolas', 'Courier', '나눔고딕코딩', monospace;
    min-width:100%;
    border-top:1px #ccc solid;
    border-bottom:1px #ccc solid;
    table-layout:fixed;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    border-collapse: separate;
}

.optimize-code-view .optimize-code-wrapper .code-table td {
    white-space:pre;
    overflow-x:scroll;
    padding:2px 10px;
    line-height:16px;
    min-height:16px;
}

.optimize-code-view .optimize-code-wrapper .diff-table td {
    padding-left:26px;
    position:relative;
}


.optimize-code-view .optimize-code-wrapper .diff-table td.insert {
    background:#c2dfdb;
}

.optimize-code-view .optimize-code-wrapper .diff-table td.insert:before {
    content:'+';
    position:absolute;
    left:10px;
    color:#55a99e;
}

.optimize-code-view .optimize-code-wrapper .diff-table td.delete {
    background:#eccde0;
}

.optimize-code-view .optimize-code-wrapper .diff-table td.delete:before {
    content:'-';
    position:absolute;
    left:10px;
    color:#b64a8c;
}

.optimize-code-view .optimize-code-wrapper .code-table th {
    border-right:1px #dadada solid;
    color:#999;
    text-align: left;
    font-weight:400;
    padding:2px 20px 2px 10px;
}

.optimize-code-view .optimize-code-wrapper .diff-table th.old {
    color:#ccc;
}

.optimize-code-view .optimize-code-wrapper .diff-table th.new {
    color:#999;
}

#section-dashboard h1 {
    display: none;
}

#section-dashboard #dashboard-optimize-meter {
    height: 150px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#section-dashboard #dashboard-optimize-meter.poor {
    background: #be2d62 url(../images/meter_poor.jpg) 50% 0 no-repeat;
}
#section-dashboard #dashboard-optimize-meter.not-good {
    background: #da7e34 url(../images/meter_notgood.jpg) 50% 0 no-repeat;
}
#section-dashboard #dashboard-optimize-meter.fine {
    background: #5db22a url(../images/meter_fine.jpg) 50% 0 no-repeat;
}

#section-dashboard #dashboard-optimize-meter h2 {
    letter-spacing: 2px;
    font-size:0.86em;
    font-weight:bold;
    padding-top:30px;
    margin-bottom:10px;
}

#section-dashboard #dashboard-optimize-meter div.result {
    font-size:5.14em;
    font-weight:100;
    line-height:1;
}

#section-dashboard #dashboard-optimize-meter-bar {
    position:absolute;
    height:2px;
    margin-top:2px;
    width:100%;
}

#section-dashboard #dashboard-optimize-meter-bar .meter {
    height:2px;
}

#section-dashboard #dashboard-optimize-meter-bar .meter.poor {
    background:#be2d62;
}
#section-dashboard #dashboard-optimize-meter-bar .meter.not-good {
    background:#da7e34;
}
#section-dashboard #dashboard-optimize-meter-bar .meter.fine {
    background:#5db22a;
}

#section-dashboard #dashboard-body {
    background:url(../images/dashboard_bg.png) 100% 0 repeat-y;
}

#section-dashboard #dashboard-optimize-analyze {
    float: left;
    padding:35px 30px;
}

#section-dashboard #dashboard-optimize-analyze h2 {
    position: relative;
    height: 16px;
    line-height: 16px;
    color: #fff;
    margin-left:-5px;
    padding-left: 5px;
    font-size:0.86em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#section-dashboard #dashboard-optimize-analyze #dashboard-optimize-score h2 {
    background: #11275f;
}
#section-dashboard #dashboard-optimize-analyze #dashboard-critical-issues h2 {
    background: #be2d62;
}
#section-dashboard #dashboard-optimize-analyze #dashboard-recommended-issues h2 {
    background: #da7e34;
}
#section-dashboard #dashboard-optimize-analyze #dashboard-passed-issues h2 {
    background: #5db22a;
}

#section-dashboard #dashboard-optimize-analyze h2:after {
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    content:'';
    border-top: 8px transparent solid;
    border-left: 8px transparent solid;
    border-right: 8px #fff solid;
    border-bottom: 8px #fff solid;
}

#section-dashboard #dashboard-optimize-analyze #dashboard-optimize-score .dashboard-optimize-score-data {
    margin:10px 0 30px;
    font-size: 1.29em;
    line-height: 1.1;
    color: #aaa;
}

#section-dashboard #dashboard-optimize-analyze #dashboard-optimize-score .dashboard-optimize-score-data strong {
    font-size: 1.78em;
    font-weight: normal;
}

#section-dashboard #dashboard-optimize-analyze #dashboard-optimize-score .dashboard-optimize-score-data.poor strong {
    color:#be2d62;
}
#section-dashboard #dashboard-optimize-analyze #dashboard-optimize-score .dashboard-optimize-score-data.not-good strong {
    color:#da7e34;
}
#section-dashboard #dashboard-optimize-analyze #dashboard-optimize-score .dashboard-optimize-score-data.fine strong {
    color:#5db22a;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul {
    margin:20px 0 30px;
    border-top:1px #dadada solid;
    border-bottom:1px #dadada solid;
}

#section-dashboard #dashboard-optimize-analyze #dashboard-passed-issues ul {
    margin-bottom:0;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a {
    display:block;
    background:url(../images/dashboard_assets.png) 100% -64px no-repeat;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a:hover {
    background-color: #f4f4f4;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a .icon {
    float:left;
    margin-top:12px;
    width:32px;
    height:32px;
    border-radius:5px;
    display:block;
    background:#ccc url(../images/dashboard_assets.png);
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li.optimize a .icon {
    background-color:#5f97c7;
    background-position:0 -32px;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li.deploy a .icon {
    background-color:#fe772d;
    background-position:0 0;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li.setting a .icon {
    background-color:#667076;
    background-position:0 -163px;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a strong,
#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a em {
    display:block;
    font-weight: normal;
    font-style: normal;
    margin-left: 46px;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a strong {
    font-size:1.14em;
    color:#444;
    padding-top:10px;
    line-height:1.25;
    height:20px;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li a em {
    border-bottom:1px #dadada solid;
    font-size:0.86em;
    color:#8e8e8e;
    line-height: 1.5;
    height:18px;
    padding-bottom:11px;
}

#section-dashboard #dashboard-optimize-analyze .dashboard-issues ul li:last-child a em {
    border-bottom:none;
}


#section-dashboard #dashboard-simulation {
    float: right;
    width: 360px;
    padding:35px 30px;
    position: relative;
    background: #f0f0f0 url(../images/simulation_bg.png) 0 0 repeat-x;
}

#section-dashboard #dashboard-simulation:before {
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    content:'';
    border-top: 25px #fff solid;
    border-left: 25px #fff solid;
    border-right:25px transparent solid;
    border-bottom:25px transparent solid;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title {
    margin-bottom: 20px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title h2 {
    height: 16px;
    line-height: 16px;
    font-size:0.86em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#11275f;
    float:left;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title a.open-select-region {
    height:20px;
    line-height:20px;
    margin-top:-2px;
    float:right;
    display: block;
    letter-spacing: 2px;
    font-size:0.86em;
    text-transform: uppercase;
    padding:0 13px 0 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.15);
    background:#fff url(../images/dashboard_assets.png) right -123px no-repeat;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title a.open-select-region:hover {
    background-color:#e0e0e0;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title a.open-select-region.opened {
    background-color: #60646a;
    background-position: right -143px;
    color: #fff;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region {
    position: absolute;
    width:438px;
    height:218px;
    border:1px #dadada solid;
    background:#fff url(../images/dashboard_map.png) 0 0 no-repeat;
    right:30px;
    top:53px;
    display: none;
    z-index: 50;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a {
    font-size: 0.86em;
    font-weight: bold;
    line-height: 20px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 1px;
    position:absolute;
    border-radius:10px;
    padding:0 5px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a:hover {
    background: rgba(230,230,230,0.7);
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-seoul {
    top:62px;
    left:341px;
}
#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-sanjose {
    top:69px;
    left:21px;
}
#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-newyork {
    top:62px;
    left:76px;
}
#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-amsterdam {
    top:41px;
    left:185px;
}
#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-singapore {
    top:98px;
    left:315px;
}
#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-sydney {
    top:169px;
    left:321px;
}
#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a#select-region-saopaulo {
    top:152px;
    left:115px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a .anchor {
    width:7px;
    height:7px;
    border:2px #be2d62 solid;
    border-radius:10px;
    display:block;
    position:relative;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a .anchor:after {
    position:absolute;
    content:'';
    width:3px;
    height:3px;
    border-radius: 3px;
    background:#be2d62;
    top:2px;
    left:2px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a.right .anchor {
    float:left;
    margin-top:4px;
    margin-right:2px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a.left .anchor {
    float:right;
    margin-top:4px;
    margin-left:2px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-title #dashboard-select-region a.top .anchor {
    margin-top:4px;
}

#section-dashboard #dashboard-simulation .dashboard-simulation-video {
    font-size:0;
    line-height:0;
}

#video-simulation-after-real {
    display:none;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label {
    height: 50px;
    background: url(../images/dashboard_ba.png) 50% 50% no-repeat;
    overflow: hidden;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label .dashboard-simulation-before {
    float: left;
    width:50%;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label .dashboard-simulation-left {
    float: right;
    width:50%;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label p span {
    display:block;
    font-size:0.86em;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label p strong {
    display:block;
    font-size:1.93em;
    font-weight:normal;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label .dashboard-simulation-before span {
    float:left;
    padding-top:5px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label .dashboard-simulation-before strong {
    float:right;
    padding-top:2px;
    padding-right:10px;
    color:#8e8e8e;
    line-height: 1.1;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label .dashboard-simulation-after span {
    float:right;
    padding-top:34px;
}

#section-dashboard #dashboard-simulation #dashboard-simulation-label .dashboard-simulation-after strong {
    float:left;
    padding-top:19px;
    padding-left:10px;
    color:#11275f;
}

#section-setting {
    padding-bottom:90px;
}

#section-setting h1#setting-title {
    height:40px;
    text-align:center;
    background:#e0e0e0 url(../images/settings_icon.png) 100% 0 no-repeat;
    padding:30px;
    line-height:40px;
    font-size:2em;
    font-weight: 300;
    border-bottom:1px #dadada solid;
    color:#444;
}

#section-setting #settings-project-action {
    padding:5px 0;
    background:#dadada;

}

#section-setting #settings-project-info, #section-setting #settings-project-global {
    border-top:1px #dadada solid;
    padding:30px 0;
}

#section-setting #settings-project-pages {
    border-top:1px #dadada solid;
    padding:30px 0;
    background:#f4f4f4;
}

#section-setting #settings-project-action > h2,
#section-setting #settings-project-action > p,
#section-setting #settings-project-info > h2,
#section-setting #settings-project-info > p,
#section-setting #settings-project-pages > h2,
#section-setting #settings-project-pages #settings-project-pages-list,
#section-setting #settings-project-global > h2,
#section-setting #settings-project-global #settings-project-global-list {
    width:480px;
    margin:0 auto;
}

#section-setting #settings-project-info > h2,
#section-setting #settings-project-pages > h2,
#section-setting #settings-project-global > h2 {
    font-size: 0.86em;
    color:#666;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom:10px;
}

#section-setting #settings-project-action #settings-actions {
    text-align: center;
}

#section-setting #settings-project-action #settings-actions a {
    display:inline-block;
    margin:0 10px;
    padding:5px;
    font-size:0.86em;
}

#section-setting #settings-project-action #settings-actions a .icon {
    display:block;
    margin:0 auto;
    width:30px;
    height:30px;
    border:1px #666 solid;
    border-radius:16px;
    margin-bottom:5px;
    background:url(../images/settings_assets.png) no-repeat;
}

#section-setting #settings-project-action #settings-actions a:hover {
    color:#11275f;
}

#section-setting #settings-project-action #settings-actions a:hover .icon {
    border-color:#11275f;
}

#section-setting #settings-project-action #settings-actions a#settings-purge .icon {
    background-position:-1px -1px;
}
#section-setting #settings-project-action #settings-actions a#settings-purge:hover .icon {
    background-position:-1px -33px;
}

#section-setting #settings-project-action #settings-actions a#settings-refresh .icon {
    background-position:-38px -1px;
}
#section-setting #settings-project-action #settings-actions a#settings-refresh:hover .icon {
    background-position:-38px -33px;
}


#section-setting #settings-project-info > p {
    border-bottom: 1px #dadada solid;
    padding:4px 0;
}

#section-setting #settings-project-info > p.title {
    border-top:1px #dadada solid;
}

#section-setting #settings-project-info > p label {
    width:140px;
    font-size:0.86em;
    color:#666;
    float:left;
    line-height:25px;
}

#section-setting #settings-project-info > p input {
    padding:2px 4px;
    border:1px #dadada solid;
    border-radius:3px;
    height:19px;
    line-height:19px;
    width:330px;
}

#section-setting #settings-project-pages #settings-project-pages-list {
    border-top:1px #dadada solid;
}

#section-setting #settings-project-pages #settings-project-pages-list li {
    border-bottom:1px #dadada solid;
    padding:4px;
}

#section-setting #settings-project-pages #settings-project-pages-list li:nth-child(odd) {
    background:#fff;
}

#section-setting #settings-project-pages #settings-project-pages-list li p:first-child {
    margin-bottom:3px;
}

#section-setting #settings-project-pages #settings-project-pages-list li input {
    padding:2px 4px;
    border:1px #dadada solid;
    border-radius:3px;
    height:19px;
    line-height:19px;
    width:120px;
}

#section-setting #settings-project-pages #settings-project-pages-list li .new-page-address-guide {
    line-height:25px;
    font-size: 0.86em;
    color:#8e8e8e;
    margin-right:3px;
}

#section-setting #settings-project-pages #settings-project-pages-list li .new-page-del {
    background:#be2d62 url(../images/project_remove.png) 50% 50% no-repeat;
    float:right;
    width:17px;
    height:17px;
    border-radius:3px;
    text-indent: -10000px;
}

#section-setting #settings-project-pages #settings-project-pages-list li .new-page-del:hover {
    background-color:#ce517f;
}

#section-setting #settings-project-pages .add {
    text-align: center;
    margin-top:10px;
}

#section-setting #settings-project-pages #add-new-page-url {
    background:#fff;
    border:1px #dadada solid;
    border-radius:3px;
    line-height:20px;
    height:20px;
    padding:4px 9px;
    width:120px;
    margin-right:5px;
}

#section-setting #settings-project-pages #add-new-page {
    display:inline-block;
    font-size:0.86em;
    line-height:16px;
    font-weight:bold;
    color:#666;
    border-radius:3px;
    border:1px #dadada solid;
    padding:6px 9px;
    background:#f0f0f0;
}

#section-setting #settings-project-pages #add-new-page:before {
    display:inline-block;
    width:16px;
    height:16px;
    content:'';
    background:url(../images/optimize_assets.png) -222px 0 no-repeat;
    margin-right:5px;
    vertical-align: top;
}

#section-setting #settings-project-pages #add-new-page:hover {
    background:#eaeaea;
}

#section-setting #settings-project-global #settings-project-global-list {
    border-top:1px #dadada solid;
}

#section-setting #settings-project-global #settings-project-global-list li {
    padding:4px 0;
    border-bottom:1px #dadada solid;
}

#section-setting #settings-project-global #settings-project-global-list li p {
    line-height:30px;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a {
    position:relative;
    float:right;
    width:32px;
    height:30px;
    right:5px;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a .bar {
    position:absolute;
    height:2px;
    width:100%;
    margin-top:-1px;
    top:50%;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a .indicator {
    width:12px;
    height:12px;
    position:absolute;
    top:7px;
    text-indent: -10000px;
    overflow: hidden;
    border:2px solid;
    background:#fff;
    border-radius:16px;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-off .indicator {
    border-color: #ccc;
    left:0;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-off .bar {
    background: #ccc;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-off:hover:not(.just-changed) .indicator {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-color:#bad3ab;
    left:16px;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-off:hover:not(.just-changed) .bar {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background:#bad3ab;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-on .indicator {
    border-color:#5db22a;
    left:16px;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-on:hover:not(.just-changed) .indicator {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-color:#bad3ab;
    left:0px;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-on:hover:not(.just-changed) .bar {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background:#bad3ab;
}

#section-setting #settings-project-global #settings-project-global-list li.toggle a.toggle-on .bar {
    background: #5db22a;
}

#section-setting #settings-project-global #settings-project-global-list li.upload input[type=file] {
    display:none;
}

#section-setting #settings-project-global #settings-project-global-list li.upload span.icon {
    float:right;
    width:16px;
    height:16px;
    margin-top:6px;
    background-size:100% 100%;
    border:1px #dadada solid;
    margin-right:4px;
}

#section-setting #settings-project-global #settings-project-global-list li.upload a.upload {
    float:right;
    border:1px #dadada solid;
    border-radius:3px;
    background:#f0f0f0;
    padding:0 4px;
    line-height:22px;
    margin-top:3px;
    font-size:0.86em;
    text-transform: uppercase;
}

#section-setting #settings-project-global #settings-project-global-list li.upload a.upload:hover {
    background:#eaeaea;
}

#section-setting #settings-project-info > p#settings-project-submit {
    padding:10px 0 0;
    border:none;
}

#section-setting #settings-project-submit #btn-settings-project {
    width:100px;
    height:35px;
    display:block;
    margin:0 auto;
    background:#11275f;
    border-radius:3px;
    color:#fff;
    text-align: center;
    line-height:35px;
}

#section-setting #settings-project-submit #btn-settings-project:hover {
    background:#2d437d;
}


#section-deploy #deploy-body {
    background:url(../images/deploy_border.png) 50% 0 repeat-y;
}

#section-deploy #deploy-body #deploy-codeview {
    width:50%;
    float:left;
    box-sizing:border-box;
    padding-right:1px;
    height:100%;
    overflow:scroll;
}

#section-deploy #deploy-body #deploy-codeview h2 {
    color:#5db22a;
    background:#e1eed9;
    border-bottom:1px #5db22a solid;
    font-size:1em;
    text-align: center;
    height:40px;
    line-height:40px;
    font-weight: normal;
}

#section-deploy #deploy-body #deploy-files {
    width:50%;
    float:left;
    box-sizing:border-box;
    padding-left:1px;
    height:100%;
    overflow-y:scroll;
}

#section-deploy #deploy-body #deploy-files #deploy-file-header {
    border-bottom:1px #3375ca solid;
    background:#e9eef4;
    height:30px;
    padding:5px 0;
    text-align: center;
}

#section-deploy #deploy-body #deploy-files #deploy-file-header a {
    border: 1px #3375ca solid;
    color:#3375ca;
    display:inline-block;
    height:28px;
    line-height: 28px;
    padding:0 14px;
}

#section-deploy #deploy-body #deploy-files #deploy-file-header a.selected {
    color:#fff;
    background:#3375ca;
}

#section-deploy #deploy-body #deploy-files #deploy-file-header a:first-child {
    border-radius: 5px 0 0 5px;
    border-right:none;
}

#section-deploy #deploy-body #deploy-files #deploy-file-header a:last-child {
    border-radius:0 5px 5px 0;
}

#section-deploy #deploy-body #deploy-files .deploy-file-browser {
    padding:20px 30px;
}

.page-error {
    background:#11275f;
    color:#fff;
    text-align:center;
    height:100%;
}

.page-error #header-common {
    position:absolute;
}

.page-error > section {
    height:100%;
}

.page-error #error-wrapper {
    width:100%;
    height:100%;
    display:table;
}

.page-error #error-wrapper .error-row {
    width:100%;
    height:100%;
    display:table-row;
}

.page-error #error-wrapper .error-row .error-cell {
    width:100%;
    height:100%;
    display:table-cell;
    text-align:center;
    vertical-align: middle;
    font-family:Monaco, 'Bitstream Vera Sans Mono', '나눔고딕코딩', 'Lucida Console', monospace;
}

.page-error #error-wrapper .error-row .error-cell h1 {
    color:#11275f;
    background:#ffffff;
    display:inline-block;
    font-size:1em;
    margin-bottom:3em;
    padding:2px 5px 0;
}

.page-error #error-wrapper .error-row .error-cell a {
    color:#11275f;
    background:#ffffff;
    padding:2px 5px 0;
}

.page-error #error-wrapper .error-row .error-cell a:hover {
    background:rgba(255,255,255,0.75);
}

.page-error #error-wrapper .error-row .error-cell p {
    margin-bottom:1.5em;
}

#open-file-iframe { display:none; }



#simulation-iframe {
    margin:0;
    margin-top:106px;
    width:100%;
    border:0;
    padding:0;
}