@(projectId:Int)(diff: Html)
<div id="section-deploy" data-projectid="@projectId">
    <section>
        <div id="deploy-body" class="clearfix">
            <div id="deploy-codeview">
                <h2>Check &amp; Download Modified Pages</h2>
                <div id="deploy-file-selector" class="page-selector">
                    <div class="deploy-file-list-wrapper page-selector-list-wrapper">
                        <div class="deploy-file-list page-selector-list">
                        </div>
                    </div>
                </div>
                @diff
            </div>
            <div id="deploy-files">
                <header>
                    <div id="deploy-file-header">
                        <a href="#" class="selected">Using Resource Files</a><a href="#">Deprecated Resource Files</a>
                    </div>
                </header>
                <p id="optimize-file-selection-notice"><strong></strong>개의 파일이 선택되었습니다.<a href="#" class="apply-selection"><span class="icon"></span>다운로드</a><a href="#" class="revert-selection"><span class="icon"></span>선택 취소</a></p>
                <iframe id="open-file-iframe"></iframe>
                <div class="deploy-file-browser file-browser">
                    <ul class="deploy-file-browser-table file-browser-table">
                        <li class="row row-header">
                            <div class="cell cell-name">Name</div>
                            <div class="cell cell-misc">
                                <p class="sub-cell sub-cell-type">Type</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>