@(projectId:Int)(component: Html)
<div id="section-optimize" data-projectid="@projectId">
    <header>
        <div id="optimize-header">
            <div class="optimize-header-left">
                <a class="btn btn-undo disabled" href="#"><span class="icon"></span>Undo</a>
                <a class="btn btn-redo disabled" href="#"><span class="icon"></span>Redo</a>
                <a class="btn btn-history" href="#"><span class="icon"></span>History</a>
                <div id="optimize-history" class="tooltip">
                    <ul>

                    </ul>
                </div>
                @*<div id="optimize-history-detail" class="tooltip">*@
                    @*<p class="status">5개 페이지에 JS/CSS 이동을 적용했습니다.</p>*@
                    @*<ul class="file-list">*@
                        @*<li><span class="icon"></span><strong>Lorem</strong> (/index/lorem)</li>*@
                        @*<li><span class="icon"></span><strong>ipsum</strong> (/index/ipsum)</li>*@
                        @*<li><span class="icon"></span><strong>dolor</strong> (/user/dolor)</li>*@
                        @*<li><span class="icon"></span><strong>sit</strong> (/articles/sit)</li>*@
                        @*<li><span class="icon"></span><strong>amet</strong> (/common/amet)</li>*@
                    @*</ul>*@
                @*</div>*@
            </div>
            <div class="optimize-header-right">
                <a class="btn btn-simulate" href="../simulation" target="_blank"><span class="icon"></span>Simulate</a>
            </div>
        </div>
    </header>
    <section>
        <div id="optimize-body" class="clearfix">
            <nav>
                <ul id="optimize-nav">
                    <li class="css-sprite"><a href="/@{projectId}/optimize/cssSprite"><strong>Make CSS Sprite</strong><span><em>0</em> images available</span></a></li>
                    <li class="merge-js"><a href="/@{projectId}/optimize/mergeJs"><strong>Merge JavaScript</strong><span><em>0</em> files available</span></a></li>
                    <li class="merge-css"><a href="/@{projectId}/optimize/mergeCss"><strong>Merge CSS</strong><span><em>0</em> files available</span></a></li>
                    <li class="remove-404"><a href="#"><strong>Remove 404 Error</strong><span><em>1</em> file found</span></a></li>
                    <li class="move-js-css"><a href="#"><strong>Move JS/CSS</strong><span><em>1</em> file ready</span></a></li>
                    <li class="resample"><a href="#"><strong>Image Resampling</strong><span><em>0</em> images available</span></a></li>
                    <li class="minify-js-css"><a href="/@{projectId}/optimize/minify"><strong>Minify JS/CSS</strong><span><em>0</em> files available</span></a></li>
                </ul>
            </nav>
            <section>
                <div id="optimize-section">
                    <div id="optimize-file-selector" class="page-selector">
                        <p id="optimize-file-selection-notice"><strong></strong>개의 파일이 선택되었습니다.<a href="#" class="apply-selection"><span class="icon"></span>CSS Sprite 만들기</a><a href="#" class="revert-selection"><span class="icon"></span>선택 취소</a></p>
                        <div class="optimize-file-list-wrapper page-selector-list-wrapper">
                            <div class="optimize-file-list page-selector-list">

                            </div>
                        </div>
                        <div id="optimize-add-page">
                            <a href="/@{projectId}/settings" id="optimize-btn-add-page">
                                <span class="add-icon"></span><strong>Add Pages</strong>
                            </a>
                        </div>
                    </div>

                    @component

                </div>
            </section>
        </div>
    </section>
</div>