@(projectId:Int)
<div id="section-dashboard" data-projectid="@projectId">
    <h1>Dashboard</h1>
    <div id="dashboard-optimize-meter" class="not-good">
        <h2>Optimize-meter</h2>
        <div class="result">Not good</div>
    </div>
    <div id="dashboard-optimize-meter-bar">
        <div class="meter not-good" style="width:64%"></div>
    </div>
    <div id="dashboard-body" class="clearfix">
        <div id="dashboard-optimize-analyze">
            <div id="dashboard-optimize-score">
                <h2>Optimize-score</h2>
                <p class="dashboard-optimize-score-data not-good"><strong>64</strong>/100</p>
            </div>
            <div id="dashboard-critical-issues" class="dashboard-issues">
                <h2>2 Critical issues</h2>
                <ul>
                    <li class="deploy">
                        <a href="./deploy">
                            <span class="icon"></span>
                            <strong>브라우저 캐시를 사용하세요</strong>
                            <em>브라우저 캐시를 사용하시면 네트워크 및 서버 비용을 줄일 수 있습니다.</em>
                        </a>
                    </li>
                    <li class="optimize">
                        @*<a href="./optimize/remove404">*@
                        <a href="#">
                            <span class="icon"></span>
                            <strong>404 에러를 제거하세요.</strong>
                            <em>페이지에 404 에러가 있을 경우 유저가 느끼는 로딩 시간이 크게 증가합니다.</em>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="dashboard-recommended-issues" class="dashboard-issues">
                <h2>3 Recommended issues</h2>
                <ul>
                    <li class="optimize">
                        @*<a href="./optimize/moveJsCss">*@
                        <a href="#">
                            <span class="icon"></span>
                            <strong>자바스크립트 및 CSS 위치 조정</strong>
                            <em>자바스크립트가 페이지 가장 위에서 로드될 경우 자바스크립트가 준비될 때까지 페이지 로드가 지연됩니다.</em>
                        </a>
                    </li>
                    <li class="setting">
                        <a href="./settings">
                            <span class="icon"></span>
                            <strong>압축 사용</strong>
                            <em>gzip 또는 deflate로 리소스를 압축하면 네트워크를 통해 전송되는 용량을 줄일 수 있습니다.</em>
                        </a>
                    </li>
                    <li class="optimize">
                        @*<a href="./optimize/resample">*@
                        <a href="#">
                            <span class="icon"></span>
                            <strong>이미지 최적화</strong>
                            <em>이미지가 필요하지 않게 크거나 지나치게 고화질일 경우 페이지 로드가 지연됩니다.</em>
                        </a>
                    </li>

                </ul>
            </div>
            <div id="dashboard-passed-issues" class="dashboard-issues">
                <h2>4 Passed issues</h2>
                <ul>
                    <li class="optimize">
                        <a href="./optimize/minify">
                            <span class="icon"></span>
                            <strong>CSS 축소</strong>
                            <em>필요없는 공백을 삭제해서 페이지를 더 빠르게 로드할 수 있습니다.</em>
                        </a>
                    </li>
                    <li class="optimize">
                        <a href="./optimize/minify">
                            <span class="icon"></span>
                            <strong>HTML 축소</strong>
                            <em>필요없는 공백을 삭제해서 페이지를 더 빠르게 로드할 수 있습니다.</em>
                        </a>
                    </li>
                    <li class="optimize">
                        <a href="#">
                            <span class="icon"></span>
                            <strong>리다이렉션 사용 안함</strong>
                            <em>페이지 리다이렉션을 사용하지 않으면 사용자가 원하는 페이지까지 더 빨리 접근할 수 있습니다.</em>
                        </a>
                    </li>
                    <li class="optimize">
                        <a href="#">
                            <span class="icon"></span>
                            <strong>표시되는 콘텐츠의 우선 순위 지정</strong>
                            <em>스크롤 없이 볼 수 있는 콘텐츠의 우선순위가 올바르게 지정되었습니다.</em>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div id="dashboard-simulation">
            <div id="dashboard-simulation-title" class="clearfix">
                <h2>Simulation</h2>
                <a href="#" class="open-select-region"><strong>Region:</strong>&nbsp;<span class="selected-region">Seoul</span></a>
                <div id="dashboard-select-region">
                    <a href="#" id="select-region-seoul" class="right"><span class="anchor"></span><span class="label">Seoul</span></a>
                    <a href="#" id="select-region-sanjose" class="top"><span class="anchor"></span><span class="label">San Jose</span></a>
                    <a href="#" id="select-region-newyork" class="right"><span class="anchor"></span><span class="label">New York</span></a>
                    <a href="#" id="select-region-amsterdam" class="right"><span class="anchor"></span><span class="label">Amsterdam</span></a>
                    <a href="#" id="select-region-singapore" class="right"><span class="anchor"></span><span class="label">Singapore</span></a>
                    <a href="#" id="select-region-sydney" class="left"><span class="anchor"></span><span class="label">Sydney</span></a>
                    <a href="#" id="select-region-saopaulo" class="right"><span class="anchor"></span><span class="label">São Paulo</span></a>
                </div>
            </div>
            <div id="dashboard-simulation-before" class="dashboard-simulation-video">
                <video id="video-simulation-before" class="video-js vjs-default-skin" controls preload="none" width="360" height="307" data-setup='{ "controls": false, "autoplay": true }'>
                    <source src="@routes.Assets.at("images/video_before.mp4")" type='video/mp4' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
            <div id="dashboard-simulation-label" class="clearfix">
                <p class="dashboard-simulation-before">
                    <span>Before</span>
                    <strong>?</strong>
                </p>
                <p class="dashboard-simulation-after">
                    <span>After</span>
                    <strong>?</strong>
                </p>
            </div>
            <div id="dashboard-simulation-after" class="dashboard-simulation-video">
                <video id="video-simulation-after" class="video-js vjs-default-skin" controls preload="none" width="360" height="307" data-setup='{ "controls": false, "autoplay": true }'>
                    <source src="@routes.Assets.at("images/video_before.mp4")" type='video/mp4' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
                <video id="video-simulation-after-real" class="video-js vjs-default-skin" controls preload="none" width="360" height="307" data-setup='{ "controls": false, "autoplay": true }'>
                    <source src="@routes.Assets.at("images/video_after.mp4")" type='video/mp4' />
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                </video>
            </div>
        </div>
    </div>
</div>