<div id="section-setting">
    <h1 id="setting-title">Project Settings</h1>
    <div id="settings-project-info">
        <h2>Basic Information</h2>
        <p class="title"><label for="settings-project-name">Name</label><input type="text" id="settings-project-name" name="settings-project-name"></p>
        <p><label for="settings-project-address">Address</label><input placeholder="http://example.com" type="url" id="settings-project-address" name="settings-project-address"></p>
        <p><label for="settings-project-ts-address">Test Server Address</label><input placeholder="http://test.example.com:33000 (optional)" type="url" id="settings-project-ts-address" name="settings-project-ts-address"></p>
    </div>
    <div id="settings-project-pages">
        <h2>Pages in the project</h2>
        <ul id="settings-project-pages-list">
            <li>
                <p><input class="new-page-name" type="text" placeholder="Name"><a href="#" class="new-page-del">X</a></p>
                <p><span class="new-page-address-guide">http://example.com/</span><input class="new-page-address" type="text" placeholder="Path"></p>
            </li>
        </ul>
        <p class="add"><a href="#" id="settings-new-page">Add a page to optimize</a></p>
    </div>
    <div id="settings-project-submit">
        <a href="#" id="btn-settings-project">Save</a>
    </div>
</div>