<div class="optimize-file-browser file-browser">
    <h1>Files</h1>
    <ul class="optimize-file-browser-table file-browser-table">
        <li class="row row-header">
            <div class="cell cell-name">Name</div>
            <div class="cell cell-misc">
                <p class="sub-cell sub-cell-type">Type</p>
            </div>
        </li>
    </ul>
</div>