@(projectId:Int)
<div id="section-setting" data-projectid="@projectId">
    <h1 id="setting-title">Project Settings</h1>
    <div id="settings-project-action">
        <p id="settings-actions">
            <a id="settings-purge" href="#"><span class="icon"></span>Purge</a>
            <a id="settings-refresh" href="#"><span class="icon"></span>Refresh</a>
        </p>
    </div>
    <div id="settings-project-info">
        <h2>Basic Information</h2>
        @*<p class="title"><label for="settings-project-name">Name</label><input type="text" id="settings-project-name" name="settings-project-name"></p>*@
        <p><label for="settings-project-address">Address</label><input placeholder="http://example.com" type="url" id="settings-project-address" name="settings-project-address"></p>
        <p><label for="settings-project-ts-address">Test Server Address</label><input placeholder="http://test.example.com:33000 (optional)" type="url" id="settings-project-ts-address" name="settings-project-ts-address"></p>
        <p id="settings-project-submit">
            <a href="#" id="btn-settings-project">Save</a>
        </p>
    </div>
    <div id="settings-project-pages">
        <h2>Pages in the project</h2>
        <ul id="settings-project-pages-list">
        </ul>
        <p class="add"><input type="text" id="add-new-page-url" placeholder="New Page Path"><a href="#" id="add-new-page">Add</a></p>
    </div>
    <div id="settings-project-global">
        <h2>Global Settings</h2>
        <ul id="settings-project-global-list">
            <li class="toggle">
                <p><strong>Use Default Favicon</strong><a href="#" class="toggle-off"><span class="bar"></span><span class="indicator">OFF</span></a></p>
            </li>
            <li class="toggle">
                <p><strong>Default Proxy</strong><a href="#" class="toggle-off"><span class="bar"></span><span class="indicator">OFF</span></a></p>
            </li>
            <li class="toggle">
                <p><strong>Default Contents Compression</strong><a href="#" class="toggle-on"><span class="bar"></span><span class="indicator">OFF</span></a></p>
            </li>
        </ul>
    </div>
</div>